body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
#game-container {
    position: relative;
    width: 800px;
    height: 600px;
}
#pause-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: none;
}
#pause-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

